.trivia-page {
    max-width: 600px;
    margin: auto;
    padding: 2rem;
    text-align: center;
  }

 
  
  button:hover {
    background-color: #0056b3;
  }
  
  .trivia-question {
    margin-top: 2rem;
    padding: 1rem;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .trivia-question h3 {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .trivia-question ul {
    list-style-type: none;
    padding: 0;
  }
  
  .trivia-question ul li {
    padding: 0.5rem;
    background-color: #eaeaea;
    border-radius: 5px;
    margin: 5px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  ul li:hover {
    background-color: #d4d4d4;
  }
  
  ul li.correct {
    background-color: #4CAF50;
    color: white;
  }
  
  ul li.incorrect {
    background-color: #f44336;
    color: white;
  }
  
  p.correct {
    color: green;
  }
  
  p.incorrect {
    color: red;
  }
  