
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.login-form {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.login-form label {
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.login-form input:focus {
    outline: none;
    border-color: #5F9EA0;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color:#5F9EA0;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #5F9EA0;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}
